<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <div class="add-feed">
            <form name="feedForm" action="" class="form-horizontal">
                <h3 class="text-center">New Feed</h3>                
                <div class="form-group">
                    <label for="url" class="col-sm-3 control-label">Url</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-input" id="url" placeholder="Enter url" ng-model="feedLink" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-3 control-label">Category</label>
                    <div class="col-sm-7">
                        <select id="category" class="form-control form-input" title="To enter custom category choose 'custom'" ng-model="feedCategory" required>
                            <option selected="selected" disabled value="">Choose</option>
                            <option value="News">News</option>
                            <option value="IT">IT</option>
                            <option value="Sport">Sport</option>
                            <option value="Design">Design</option>
                            <option value="Movies">Movies</option>
                            <option value="Music">Music</option>
                            <option value="Culture">Culture</option>
                            <option value="Nature">Nature</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Food">Food</option>
                            <option value="Economics">Economics</option>
                            <option value="Science">Science</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="getFeedArticle()">Add feed</button>
                    <!--button type="submit" class="btn btn-primary">Add feed</button-->
                </div>                             
            </form>
        </div><!-- .add-feed -->
    </div>
</div><!-- .row -->
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12">    
    <!--button class="btn btn-primary" ng-click="getData()">Get data</button-->
        <!--div class="selected-categories">
            <h4>Explore popular</h4>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#" class="category-item">
                    <h4>IT</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#"  class="category-item">
                    <h4>News</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#"  class="category-item">
                    <h4>Science</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#"  class="category-item">
                    <h4>Economics</h4>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a href="#"  class="category-item">
                    <h4>Custom</h4>
                </a>
            </div>
        </div--><!-- .selected-categories -->
    </div>
</div><!-- .row -->
