<div class="feed-item favorite">
    <div class="item-thumb">
        <img src="{{item.entry.img}}"/>
    </div>    
    <div class="item-content">
        <p class="title">{{item.entry.title}}</p>
        <p class="date">{{item.entry.date | parseDate | date:"dd/MM/yyyy" }}</p>
        <!--div class="text-over">{{item.contentSnippet}}</div-->
        <div class="share-box">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="glyphicon glyphicon-share"></span>
            <a ui-sref="singleView({cat:catId, entry:entry })"  class="btn btn-info">Read more</a>
        </div>
    </div><!--item-content-->
</div><!--feed-item-->