<div class="similar-item">
    <h4>
        <a ui-sref="singleView({cat:catId, entry:entry })">{{item.entry.title}}</a>
    </h4>
    <div class="item-thumb text-center">                        
    	<img src="{{item.entry.img}}" alt="{{item.entry.title}}">                        
    </div>
</div> 