<div class="feed-item">
    <div class="col-sm-10 col-lg-11">  
        <p class="title">                    
            <a ui-sref="singleView({cat:catId, entry:entry })">{{ item.entry.title }}</a>
        </p>
        {{item.contentSnippet}}
    </div>
    <div class="col-sm-2 col-lg-1">
        <div class="share-box">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-trash"></span>
            <span class="glyphicon glyphicon-share"></span>
        </div>
    </div>
</div><!--feed-item-->